<h1>Article</h1>

<div>
  <h2 class="nopadmar"><strong>{{article.title}}</strong></h2>
  <br>
  <p class="nopadmar">{{article.content}}</p>
  <br>
  {{#if article.canEdit}}
    <a href="/article/edit/{{article._id}}">Edit</a>
    <a onclick="openConfirmDialog('{{article._id}}')" href="#">Delete</a>
    <form id="{{article._id}}" action="/article/delete/{{article._id}}" method="POST"></form>
  {{/if}}
</div>

<script>
  function openConfirmDialog(id){
    if(confirm('Really delete post?'))
      document.getElementById(id).submit()
  }
</script>